<h3>Edit article</h3>
<div class='standard-form'>
  <%= form_for @article do |f| %>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <%= f.label :title, 'Titel', class: 'form-text' %>
    <%= f.text_field :title, value: @article.title %><br>
    <%= f.label :content, 'Content', class: 'form-text' %>
    <%= f.rich_text_area :content, rows: 5, style: 'width: 100%', value: @article.content %>
    <%= f.submit 'Edit', class: 'add-button' %>
  <% end %>
  <br>
  <%= link_to 'Cancel', articles_path, class: 'cancel-button' %>
</div>
