<div class='container-main'>
  <div class='header-main'>
    <div class='header-left'>
      <h1>Alla pulsklockor, aktivitetsarmband och smartklockor på ett och samma ställe</h1>
      <p>Alla pulsklockor, aktivitetsarmband och smartklockor på ett och samma ställe</p>
      <div class='button-section'>
        <% @categories.each do |category| %>
          Id: <%= category.id %><br />
          Kategori: <%= link_to "#{category.name}", category_path(category) %>
        <% end %>
        <br />
        <% @brands.each do |brand| %>
          Id: <%= brand.id %><br />
          Märke: <%= link_to "#{brand.name}", brand_path(brand) %> 
        <% end %>
      </div>
    </div>
    <div class='header-right'>
      <%= image_tag 'pulsklocka1.png', alt: 'Pulsklocka', class: 'header-img1' %>
      <%= image_tag 'aktivitetsarmband1.png', alt: 'Aktivitetsarmband', class: 'header-img2' %>
      <%= image_tag 'smartklocka1.png', alt: 'Smartklocka', class: 'header-img3' %>
    </div>
  </div>
</div>
