<div class='breadcrumb-holder-2'>
   <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="category-brand-container">
  <div class="description-holder">
    <h1>Alla <%= @brand.name %> produkter</h1>
    <div class="line-2"></div>
    <p><%= @brand.description %></p>
    <p>H채r hittar du <%= @products.count %> av n채tets mest popul채ra <%= @brand.name %> produkter.</p>
    <%= image_tag(@brand.avatar, width: 200) if @brand.avatar.attached? %>
  </div>
  <div class="filter-holder">
    <span style="font-weight: 500;">Varum채rken</span>
  <div class="filter-column">
    <%= link_to "#{@brand.name}", "#{@brand.name}", class: 'reply-button' %>
    <% @brands.each do |brand| %>
      <%= link_to "#{brand.name}", "#{brand.name}", class: 'cancel-button' %>
    <% end %>
  </div>
</div>
</div>
<div class='products-container'>
  <%= render 'products/products' %>
</div>
