<h3>Edit categories</h3>
<div class='standard-form'>
  <%= form_for @category do |f| %>
    <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <%= f.label :name, 'Name', class: 'form-text' %>
    <%= f.text_field :name, value: @category.name %><br>
    <%= f.label :description, 'Description', class: 'form-text' %>
    <%= f.text_area :description, rows: 5, style: 'width: 100%', value: @category.description %>
    <%= f.label :avatar, 'Bild', class: 'form-text' %>
    <%= f.file_field :avatar, value: @category.avatar %><br>
    <%= image_tag(@category.avatar, width: 200) if @category.avatar.present? %><br>

    <%= f.submit 'Edit', class: 'add-button' %>
  <% end %>
  <br>
  <%= link_to 'Cancel', categories_path, class: 'cancel-button' %>
</div>
