<div class='container-main'>
  <h3>Edit products</h3>
  <div class='standard-form'>
    <%= form_for @product do |f| %>
      <% if @product.errors.any? %>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :name, 'Name', class: 'form-text' %>
      <%= f.text_field :name, value: @product.name %><br>
      <%= f.label :description, 'Description', class: 'form-text' %>
      <%= f.text_area :description, rows: 5, style: 'width: 100%', value: @product.description %>
      <%= f.label :price, 'Price', class: 'form-text' %>
      <%= f.text_field :price, value: @product.price %><br>
      <%= f.label :brand_id, 'Brand', class: 'form-text' %>
      <%= f.collection_select(:brand_id, Brand.all, :id, :name, { include_blank: true, selected: @product.brand_id }, { class: 'input-medium' }) %><br>
      <%= f.label :primary_category_id, 'Primary Category', class: 'form-text' %>
      <%= f.collection_select(:primary_category_id, Category.all, :id, :name, { include_blank: true, selected: @product.primary_category_id }, { class: 'input-medium' }) %><br>
      <%= f.label :secondary_category_id, 'Secondary Category', class: 'form-text' %>
      <%= f.collection_select(:secondary_category_id, Category.all, :id, :name, { include_blank: true, selected: @product.secondary_category_id }, { class: 'input-medium' }) %><br>
      <%= f.label :third_category_id, 'Third Category', class: 'form-text' %>
      <%= f.collection_select(:third_category_id, Category.all, :id, :name, { include_blank: true, selected: @product.third_category_id }, { class: 'input-medium' }) %><br>

      <%= f.submit 'Edit', class: 'add-button' %>
    <% end %>
    <br>
    <%= link_to 'Cancel', products_path, class: 'cancel-button' %>
  </div>
</div>
