<h3>Add or edit products on this page</h3>
<%= link_to 'Add product', new_product_path, class: 'add-button' %>
<div class="item-container">
  <% @products.each do |product| %>
    <div class='item-box'>
      <%= product.id %>
      <%= product.name %>
      <%= link_to 'Edit', edit_product_path(product), class: 'reply-button' %><%= link_to 'Delete', product_path(product), data: { confirm: 'Are you sure?' }, method: :delete, class: 'add-button' %>
    </div>
  <% end %>
</div>
