<div class='container-main'>
  <h3>Add products</h3>
  <div class='standard-form'>
    <%= form_for @product do |f| %>
      <% if @product.errors.any? %>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= f.label :name, 'Name', class: 'form-text' %>
      <%= f.text_field :name %><br>
      <%= f.label :description, 'Description', class: 'form-text' %>
      <%= f.text_area :description, rows: 5, style: 'width: 100%' %>
      <%= f.label :price, 'Price', class: 'form-text' %>
      <%= f.text_field :price %><br>
      <%= f.label :brand_id, 'Brand', class: 'form-text' %>
      <%= f.collection_select(:brand_id, Brand.all, :id, :name, { prompt: 'Choose brand' }, { class: 'input-medium' }) %>
      <%= f.submit 'Add', class: 'add-button' %>
    <% end %>
    <br>
    <%= link_to 'Cancel', products_path, class: 'cancel-button' %>
  </div>
</div>
