<h1><%= @product.name %></h1>
<%= image_tag(@product.avatar, width: 200) if @product.avatar.attached? %><br>
<%= @product.store_1_name %><%= @product.store_1_price %><%= link_to 'Till butik', "#{@product.store_1_link}" %><br>
<% if @product.store_2_name? %>
  <%= @product.store_2_name %><%= @product.store_2_price %><%= link_to 'Till butik', "#{@product.store_2_link}" %><br>
<% end %>
<% if @product.store_3_name? %>
  <%= @product.store_3_name %><%= @product.store_3_price %><%= link_to 'Till butik', "#{@product.store_3_link}" %><br>
<% end %>
Märke: <%= @product.brand.name %><br>
Höjd: <%= @product.height %><br>
Bredd: <%= @product.width %><br>
Djup: <%= @product.depth %><br>
Vikt: <%= @product.weight %><br>
Batterityp: <%= @product.battery_type %><br>
Batteritid: <%= @product.battery %><br>
Skärm: <%= @product.display %><br>
Vattentålighet: <%= @product.water_res %><br>
Lagring: <%= @product.memory %><br>
Gps: <%= @product.gps %><br>
Bluetooth: <%= @product.bluetooth %><br>
Wi-Fi: <%= @product.wi_fi %><br>
Operativsystem: <%= @product.os_system %><br>
Pulsmätare: <%= @product.heart_rate %><br>
Appar: <%= @product.apps %><br>
Sömn: <%= @product.sleep_tracking %><br>
Fitness: <%= @product.fitness_features %><br>
Barometer: <%= @product.barometer %><br>
Höjdmätare: <%= @product.altimeter %><br>
Nfc: <%= @product.nfc %><br>
Pekskärm: <%= @product.touch_screen %><br>
Röststyrning: <%= @product.voice_control %><br>
Telefonsamtal: <%= @product.phone_call %><br>
