<div class=product-header>
  <h1><%= @product.name %></h1>
  <div class='breadcrumb-holder'>
       <%= render_breadcrumbs separator: ' > ' %>
   </div>
</div>
<div class='product-holder'>
  <div class='product-card-holder'>
    <%= image_tag(@product.avatar, alt: "#{@product.name}") if @product.avatar.attached? %>
  </div>
  <div class='product-card-holder'>
    <div class='product-compare-holder'>
      <div class='compare-header'>
        Prisjämförelse
      </div>
      <div class='compare-content'>
        <div class='compare-name'>
          <%= @product.store_1_name %>
        </div>
        <div class='compare-price'>
          <%= @product.store_1_price %>
        </div>
        <div class='compare-link'>
          <%= link_to 'Till butik', "#{@product.store_1_link}" %>
        </div>
      </div>
      <p style='font-size: 0.7em'><span style='color: green;'>✓</span> Endast pålitliga återförsäljare</p>
      <div class='product-facts'>
        <h4>Snabbfakta</h4>
        <div class='product-facts-holder'>
          <div class='facts-content'>
            Märke
          </div>
          <div class='facts-content'>
            <%= link_to "#{@product.brand.name}", brand_path(@product.brand) %>
          </div>
        </div>
        <div class='product-facts-holder'>
          <div class='facts-content'>
            Pulsmätning
          </div>
          <div class='facts-content'>
            <%= @product.heart_rate %>
          </div>
        </div>
        <div class='product-facts-holder'>
          <div class='facts-content'>
            Batteritid
          </div>
          <div class='facts-content'>
            <%= @product.battery %>h
          </div>
        </div>
        <div class='product-facts-holder'>
          <div class='facts-content'>
            Telefonsamtal
          </div>
          <div class='facts-content'>
            <% if @product.phone_call == true %>
              Ja
            <% else %>
              Nej
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @product.store_2_name? %>
      <%= @product.store_2_name %><%= @product.store_2_price %><%= link_to 'Till butik', "#{@product.store_2_link}" %><br>
    <% end %>
    <% if @product.store_3_name? %>
      <%= @product.store_3_name %><%= @product.store_3_price %><%= link_to 'Till butik', "#{@product.store_3_link}" %><br>
    <% end %>
  </div>
</div>
<div class='specs-holder'>
  <div class='specs-container'>
    <div class='specs-header'>
      <h4>Allmänt</h4>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Höjd
      </div>
      <div class='specs-amount'>
        <%= @product.height %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Bredd
      </div>
      <div class='specs-amount'>
        <%= @product.width %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Djup
      </div>
      <div class='specs-amount'>
        <%= @product.depth %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Vikt
      </div>
      <div class='specs-amount'>
        <%= @product.weight %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Display
      </div>
      <div class='specs-amount'>
        <%= @product.display %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Pekskärm
      </div>
      <div class='specs-amount'>
        <% if @product.touch_screen == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Vattentålig
      </div>
      <div class='specs-amount'>
        <%= @product.water_res %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Minne
      </div>
      <div class='specs-amount'>
        <%= @product.memory %>
      </div>
    </div>
  </div>
  <div class='specs-container'>
    <div class='specs-header'>
      <h4>Smarta funktioner</h4>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Smartphone kompatibel
      </div>
      <div class='specs-amount'>
        <%= @product.os_compatible %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Bluetooth
      </div>
      <div class='specs-amount'>
        <% if @product.bluetooth == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Wi-Fi
      </div>
      <div class='specs-amount'>
        <% if @product.wi_fi == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Appar
      </div>
      <div class='specs-amount'>
        <%= @product.apps %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        NFC (Near Field Communication)
      </div>
      <div class='specs-amount'>
        <% if @product.nfc == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Röststyrning
      </div>
      <div class='specs-amount'>
        <% if @product.voice_control == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Musik
      </div>
      <div class='specs-amount'>
        <% if @product.music == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
  </div>
  <div class='specs-container'>
    <div class='specs-header'>
      <h4>Hälsa och fitness</h4>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        GPS
      </div>
      <div class='specs-amount'>
        <% if @product.gps == true %>
          Ja
        <% else %>
          Nej
        <% end %>

      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Barometer (Höjdmätare)
      </div>
      <div class='specs-amount'>
        <% if @product.barometer == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Sömnövervakning
      </div>
      <div class='specs-amount'>
        <% if @product.sleep_tracking == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Kalorier
      </div>
      <div class='specs-amount'>
        <% if @product.calories == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Stegräknare
      </div>
      <div class='specs-amount'>
        <% if @product.steps == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Syremätning
      </div>
      <div class='specs-amount'>
        <% if @product.oxygen == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Golf kompatibel
      </div>
      <div class='specs-amount'>
        <% if @product.golf == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table'>
      <div class='specs-feature'>
        Cykel kompatibel
      </div>
      <div class='specs-amount'>
        <% if @product.cycling == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
    <div class='specs-table-white'>
      <div class='specs-feature'>
        Kompatibel för simning
      </div>
      <div class='specs-amount'>
        <% if @product.swimming == true %>
          Ja
        <% else %>
          Nej
        <% end %>
      </div>
    </div>
  </div>
</div>
