<h1><%= @product.name %></h1>
<p>hello <%= @product.name %></p>
Märke: <%= @product.brand.name %><br>
Mått: <%= @product.dimension %><br>
Batteri: <%= @product.battery %><br>
Vikt: <%= @product.weight %><br>
Skärm: <%= @product.display %><br>
Vattentålig: <%= @product.water_res %><br>
Lagring: <%= @product.memory %><br>
Gps: <%= @product.gps %><br>
Bluetooth: <%= @product.bluetooth %><br>
Wi-fi: <%= @product.wi_fi %><br>
Operativsystem: <%= @product.os_system %><br>
NFC: <%= @product.nfc %><br>
Puls: <%= @product.heart_rate %><br>
Pekskärm: <%= @product.touch_screen %><br>
Röstkontroll: <%= @product.voice_control %><br>
Telefonsamtal: <%= @product.phone_call %><br>
Offline Musik: <%= @product.offline_music %><br>
Appar: <%= @product.apps %><br>
Sömn: <%= @product.sleep_tracking %><br>
Fitness: <%= @product.fitness_features %><br>
