<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Pulsklockan</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
  </head>

  <body>
		<div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <a class="nav-title" href="/" id="logo-new">Pulsklockan.com</a>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/categories/199">Pulsklockor</a>
        <a href="/categories/198">Aktivitetsarmband</a>
        <a href="/categories/197">Smarta klockor</a>
        <a href="/categories/196">Pulsmätare</a>
        <a href="/categories/195">Bäst i test</a>
        <% if admin_signed_in? %>
          <%= link_to "Admin", admin_session_path %>
          <%= link_to "Log out", destroy_admin_session_path, {method: :delete} %>
        <% end %>
      </div>
    </div>
    <% if notice %>
      <div id="notice-wrapper" >
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id='alert-wrapper' >
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <div class='footer'>
      <div class='footer-grid'>
        <div class='footer-container'>
          <h3>waefeerf</h3>
          <p>rgergeewfewrfgwefwefwr</p>
        </div>
        <div class='footer-container'>
          <h3>waefeerf</h3>
          <p>rgergeewfewrfgwefwefwr</p>
        </div>
        <div class='footer-container'>
          <h3>waefeerf</h3>
          <p>rgergeewfewrfgwefwefwr</p>
        </div>
      </div>
    </div>
  </body>
</html>
